<footer class="footer neon-box">

  <span>
    [BE A REAL HACKER, AND BUILD YOUR OWN HACKING LAB]
  </span>

  <span>
    [Developed by: <a href="https://linkedin.com/in/david-amin-e503">r0ttenbeef</a>]
  </span>

</footer>