<aside class="sidebar neon-box">

  <div class="logo">
    APX
  </div>

  <div class="subtitle">
    <p>ARCHLINUX</p>
    <p>PENETRATION-TESTING</p> 
    <p>eXTENDED</p>
  </div>

  <div class="version">
    <p>v0.1.0</p>
    <span class="credits">
        <span>Built by</span>
        <a href="https://linkedin.com/in/david-amin-e503">
                r0ttenbeef
        </a>
    </span>
  </div>

  <nav>

    <a href="#">HOME</a>
    <a href="#">FEATURES</a>
    <a href="#">DOWNLOADS</a>
    <a href="#">DOCS</a>
    <a href="#">SCREENSHOTS</a>
    <a href="#">GITHUB</a>

  </nav>

</aside>